body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    border-bottom: 2px solid #d4af37;
    padding: 10px 50px;
    
}
.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo_victoria_juridica{
    height: 150px; 
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav a:hover{
    color:#8b0000;
}